/* reset rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* navigation bar */

nav{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 120px;
    padding:  0 40px;
    padding-top: 15px;
    
    background-color:#275df1;
}

nav .container{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;

    
    background-color:#275df1;
}

nav .menù{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 15px;
    
    flex-direction: row;
    
    background-color: #275df1;
}

nav .menù .logo{
    height: 40px;
}

nav .menù a{
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-weight: bold;
}

nav .menù .login{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}



nav .men, nav .menù:last-child{
    width: 250px;
}

nav .menù:last-child{
    justify-content: flex-end;
    align-items: center;
}

nav .menù:nth-child(2){
    flex-grow: 1;

    text-align: center;
}

/* main of the page */

main .header-box{
    display: flex;

    background-image: url(../img/jumbo.png);
    background-size: cover;

    padding: 0 40px 0;
}

main .header-box:first-child{
    justify-content: center;
    align-items: center;

    height: 520px;
}

main .header-box .rectangle{
    text-align: center;
    height: 410px;
    width: 950px;

    padding: 0px 30px 0;
    
}

main .header-box .rectangle h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
    margin-top: 60px;
}

main .header-box .rectangle p{
    
    margin: 40px 60px 30px;
    
    color: white;
    font-size: 20px;

    line-height: 1.2em;

}

main .header-box .rectangle .link-header-box{
    font-size: 22px;
    font-weight: 100;

    border-radius: 50px;
    border: none;

    padding: 15px 35px;
    margin: 0 15px;
}

main .header-box .rectangle .link-header-box:last-child{
    background-color:#23272A ;
    
    padding: 17px 35px;

    color: white;

}

/* div central */

main .central-box{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 625px;
    padding: 0 40px;

    background-color:#FFFFFF;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1250px;

    height: 625px;

}

main  .central-box:nth-child(4){
    background-color: #D3D3D3;
    
}

main .wave{
    display: block;
    height: 100px;
    width: 100%;
    filter: invert(94%) sepia(1%) saturate(900%) hue-rotate(318deg) brightness(90%) contrast(93%);
}

main  .rotate .wave{
    transform: rotate(180deg);

}

main .container .box-img, main .container .text{
    height: 520px;

    border: 2px black dashed;
}

main .container .box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #275df1;
    width: 900px;
    min-width: 900px;
}

main  .central-box .container .text{
    display: flex;
    flex-wrap: wrap;

    flex-grow: 1;

    font-size: 20px;
    background-color: #FFC0CB;
}

main  .central-box:nth-child(4) .text{
    order: -1;
}

/* div with big rectangle */

main .big-rectangle{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1042px;
    padding: 0 40px;

    background-color: #D3D3D3;
}

main .big-rectangle .green-rectangle{
    display: flex;
    justify-content: center;

    height: 930px;
    width: 1250px;

    background-color:#228B22 ;
    border: 2px black dashed;
}

/* information grid */

main .grid{
    display: flex;
    justify-content: center;

    padding: 0 40px;

    background-color:#23272A ;
    border-bottom:  2px white solid;
}

main .grid .box{
    display: flex;

    height: 520px;
    width: 1255px;

    margin-top: 10px;
    margin-bottom: 40px;
}

main .grid .box .social{
    width: 375px;

    background-color: #F08080;
    border: 2px black dashed;
}

main .grid .box .information{
    /* width: 220px; */
    flex-grow: 1;

    background-color:#20B2AA ;
    border: 2px white dashed;
}

/* page's footer */

footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;

    padding: 0 40px;

    background-color:#23272A;
}

footer .foot-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1250px;
    height: 80px;
    margin-top: 30px;

    background-color:#7FFFD4 ;
    border: 2px black dashed;
}

footer .foot-container .foot-link{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 70px;
    padding: 5px;

    background-color: #FFB6C1;
    border: 2px black dashed;
}