/* reset rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* navigation bar */

nav{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding:  0 40px;
    padding-top: 15px;
    
    background-color:#275df1;
}

nav .container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    
    background-color:#275df1;
}

nav .menù{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 15px;
    
    flex-direction: row;
    
    background-color: #275df1;
}

nav .menù .logo{
    height: 40px;
}

nav .menù a{
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-weight: bold;
}

nav .menù .login{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}



nav .men, nav .menù:last-child{
    width: 175px;
}

nav .menù:last-child{
    justify-content: flex-end;
    align-items: center;
}

nav .menù:nth-child(2){
    flex-grow: 1;

    text-align: center;
}

/* main of the page */

main .header-box{
    display: flex;

    background-image: url(../img/jumbo.png);
    background-size: cover;

    padding: 0 40px 0;
}

main .header-box:first-child{
    justify-content: center;
    align-items: center;

    height: 520px;
}

main .header-box .rectangle{
    text-align: center;
    height: 410px;
    width: 950px;

    padding: 0px 30px 0;
    
}

main .header-box .rectangle h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
    margin-top: 60px;
}

main .header-box .rectangle p{
    
    margin: 40px 60px 30px;
    
    color: white;
    font-size: 20px;

    line-height: 1.2em;

}

main .header-box .rectangle .link-header-box{
    font-size: 22px;
    font-weight: 100;

    border-radius: 50px;
    border: none;

    padding: 15px 35px;
    margin: 0 15px;
}

main .header-box .rectangle .link-header-box:last-child{
    background-color:#23272A ;
    
    padding: 17px 35px;

    color: white;

}

/* div central */

main .central-box{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 625px;
    padding: 0 40px;

    background-color:#FFFFFF;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1250px;

    height: 625px;

}

main  .central-box:nth-child(4){
    background-color: #D3D3D3;
    
}

main .wave{
    display: flex;
    width: 100%;
    filter: invert(65%) sepia(98%) saturate(5%) hue-rotate(13deg) brightness(104%) contrast(103%);
}

main  .rotate .wave{
    transform: rotate(180deg);

}


main .container .box-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    min-width: 900px;
}

main .container .box-img-reverse{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 900px;
    min-width: 900px;
}

main  .central-box .container .text{

    flex-wrap: wrap;
    flex-grow: 1;

    font-size: 20px;
}

.container .text h2{
    font-size: 45px;
    margin-bottom:35px ;
}

.container .text p{
    line-height: 1.2em;
}

main  .central-box:nth-child(4) .text{
    order: -1;
}

/* div with big rectangle */

main .big-rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 1250px;
    padding: 0 40px;

    background-color: #D3D3D3;
}


main .big-rectangle .green-rectangle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

main .green-rectangle .text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    padding: 0 230px;
}

main .green-rectangle h2{
    font-size: 45px;
    font-weight: 600;

    margin-bottom: 30px;
}

main .green-rectangle p{
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
}
main .green-rectangle img{
    height: 770px;

}

main .green-rectangle .stars{
    text-align: center;
}

main .green-rectangle .stars h3{
    font-size: 25px;
    font-weight: 900;
    background-image:url(../img/stars.svg);
    background-position:center;
    background-size: 100%;
    
    padding: 13px 30px 0;
    margin-bottom: 55px;

}

main .green-rectangle .stars .link-central-box{
    font-size: 20px;
    font-weight: 100;

    border-radius: 50px;
    border: none;

    padding: 10px 15px;
    margin: 0 15px;

    background-color: #8EA1E1;
    color: white;
}

/* information grid */

main .grid{
    display: flex;
    justify-content: center;

    padding: 0 40px;

    background-color:#23272A ;
}

main .grid .box{
    display: flex;

    width: 1255px;

    padding-bottom: 150px;
    margin-top: 100px;
    margin-bottom: 30px;

    border-bottom:1px solid #8EA1E1;
}

main .grid .box .social{
    width: 375px;

    color: white;
}

main .grid .box .social h4{
    font-size: 35px;
    color:#7289DA;
}

main .box .social .lang{
    display: flex;
    justify-content: baseline;
    padding: 20px 0;
    gap: 4px;
}

.social .lang .flag-ita img{
    height:15px;
}

.social .lang p, .social .lang i{
    font-size: small;
}

.social  div i{
    margin-right: 15px;
    font-size: large;
    
}

main .grid .box .information ul{
    flex-grow: 1;
    list-style-type: none;
    margin-right: 100px;
    margin-top: 10px;

    color: white;
}

.information li:first-child{
    color:#7289DA ;

}

ul li{
    margin-bottom: 10px;
}

/* page's footer */

footer{
    display: flex;
    justify-content: center;
    align-content: flex-start;

    background-color:#23272A;
}

footer .foot-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 1250px;
    height: 80px;
}

footer .foot-container .foot-link{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
}

.foot-link img{
    height:35px ;
}

.foot-link .login{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #8EA1E1;
    color: white;

}

